.postContainer {
    margin: 0 5rem;
}

.posts {
    display: flex;
    flex-direction: column;
}

.post {
    margin: 0.5rem 1em;
    padding: 2rem 2rem;
    border: 1px solid goldenrod;
}

.posts__search {
    width: 25rem;
}

.post__add {
    font-size: 1.25rem !important;
}
  
.post__list {
    height: calc(75vh - 2rem);
    overflow-y: scroll;
}

.postForm__title {
    margin-bottom: 2rem;
}