.postContainer {
    margin: 0 5rem;
}

.posts {
    display: flex;
    flex-direction: column;
}

.post__list {
    height: 75vh;
    overflow-y: auto;
}

.post__content {
    margin-top: 3rem;
    white-space: pre-line;
    height: 75vh;
    overflow-y: auto;
}

.post_details {
    margin-left: 12rem !important;
}

.posts__search {
    width: 25rem;
}

.post__add {
    font-size: 1.25rem !important;
}

.post__manage__buttons > i {
    font-size: 2rem !important;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
}
  
.postForm__title {
    margin-bottom: 2rem;
}

.postForm > fieldset > .form-check > .form-check-label {
    margin-right: 2rem;
}

.post__table {
    height: calc(50vh - 2rem);
    overflow-y: auto;
}

.post__hover:hover {
    cursor: pointer;
    color: #5555FF
}

.post__hover__delete:hover {
    cursor: pointer;
    color: red;
}

.reaction__image {
    height: 50px;
    width: 50px;
}

.rounded-pill {
    margin-right: 6rem;
}

.posticon {
    margin: 0 0 0 .50rem;
}
